<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chibitaka.tremane_backend.repository.FriendRequestRepository">

  <!-- 友達リクエスト情報取得 -->
  <select id="getFirendRequest">
    SELECT request_id, request_user_id, receive_user_id, status, created_at, updated_at
    FROM friend_requests
    WHERE request_user_id = #{userId}
    AND receive_user_id = #{receiveUserId}
  </select>

  <!-- 友達リクエスト追加 -->
  <insert id="insertFriendRequest" useGeneratedKeys="true" keyProperty="requestId">
    INSERT INTO friend_requests(request_user_id, receive_user_id)
    VALUES (#{requestUserId}, #{receiveUserId})
  </insert>
</mapper>