<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chibitaka.tremane_backend.repository.TrainingRepository">
  <!-- ユーザーのトレーニング記録を外部結合で取得 -->
  <select id="findByUserIdAndDate" resultMap="TrainingRecordResultMap">
    SELECT
      b.name AS body_part_name,
      e.name AS exercise_name,
      t.training_id,
      t.weight,
      t.reps
    FROM trainings t
    LEFT JOIN exercises e ON t.exercise_id = e.exercise_id
    LEFT JOIN body_parts b ON e.parts_id = b.parts_id
    WHERE t.user_id = #{userId}
      AND t.date = #{date}
    ORDER BY b.name, e.name
  </select>

  <!-- トレーニングデータ詳細情報取得 -->
  <select id="findById">
    SELECT
      t.training_id,
      t.date,
      e.parts_id,
      e.exercise_id,
      t.weight,
      t.reps
    FROM trainings t
    LEFT JOIN exercises e ON t.exercise_id = e.exercise_id
    WHERE t.training_id = #{trainingId}
  </select>

  <insert id="insertTraining" parameterType="com.chibitaka.tremane_backend.entity.TrainingEntity">
    INSERT INTO trainings(date, user_id, exercise_id, weight, reps)
    VALUES(#{date}, #{userId}, #{exerciseId}, #{weight}, #{reps})
  </insert>

  <!-- トレーニングデータ更新 -->
  <update id="update">
    UPDATE trainings SET date = #{date}, exercise_id = #{exerciseId}, weight = #{weight}, reps = #{reps}
    WHERE training_id = #{trainingId} AND user_id = #{userId}
  </update>

  <!-- トレーニング記録削除 -->
  <delete id="delete">
    DELETE FROM trainings WHERE training_id = #{trainingId} AND user_id = #{userId}
  </delete>

  <!-- ネストした構造をマッピング -->
  <resultMap id="TrainingRecordResultMap" type="com.chibitaka.tremane_backend.entity.TrainingRecordEntity">
    <result property="name" column="body_part_name"/>
    <collection property="exercises" ofType="com.chibitaka.tremane_backend.entity.TrainingRecordEntity$ExerciseEntity">
      <result property="name" column="exercise_name"/>
      <collection property="sets" ofType="com.chibitaka.tremane_backend.entity.TrainingRecordEntity$SetEntity">
        <result property="trainingId" column="training_id" />
        <result property="weight" column="weight"/>
        <result property="reps" column="reps"/>
      </collection>
    </collection>
  </resultMap>

</mapper>