<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chibitaka.tremane_backend.repository.UserProfileRepository">
  
  <!-- ID検索 -->
  <select id="findById" resultMap="UserResultMap">
    SELECT
      user_id,
      nickname,
      height,
      weight,
      birthday,
      gender,
      active_level,
      created_at,
      updated_at
    FROM users_profile
    WHERE user_id = #{userId}
      AND updated_at > #{updatedAt}
  </select>

  <!-- 追加更新 -->
  <insert id="upsert" parameterType="com.chibitaka.tremane_backend.entity.UserProfileEntity">
    INSERT INTO users_profile (user_id, nickname, height, weight, birthday, gender, active_level, created_at, updated_at)
    VALUES (#{userId}, #{nickname}, #{height}, #{weight}, #{birthday}, #{gender}, #{activeLevel}, #{createdAt}, #{updatedAt})
    ON CONFLICT (user_id) DO UPDATE SET
    nickname=EXCLUDED.nickname,
    height = EXCLUDED.height,
    weight = EXCLUDED.weight,
    birthday = EXCLUDED.birthday,
    gender = EXCLUDED.gender,
    active_level = EXCLUDED.active_level,
    created_at = EXCLUDED.created_at,
    updated_at = EXCLUDED.updated_at
  </insert>

  <!-- マッピング -->
  <resultMap id="UserResultMap" type="com.chibitaka.tremane_backend.entity.UserProfileEntity">
    <result property="userId" column="user_id"/>
    <result property="nickname" column="nickname"/>
    <result property="height" column="height"/>
    <result property="weight" column="weight"/>
    <result property="birthday" column="birthday"/>
    <result property="gender" column="gender"/>
    <result property="activeLevel" column="active_level"/>
  </resultMap>

</mapper>