<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chibitaka.tremane_backend.repository.UserRepository">
  
  <!-- ID検索 -->
  <select id="findById">
    SELECT
      user_id,
      created_at,
      updated_at
    FROM users
    WHERE user_id = #{userId}
  </select>

  <!-- 新規追加 -->
  <insert id="insert" parameterType="com.chibitaka.tremane_backend.entity.UserEntity">
    INSERT INTO users (user_id)
    VALUES (#{userId})
  </insert>

  <!-- 削除 -->
  <delete id="delete">
    DELETE FROM users WHERE user_id = #{userId}
  </delete>

</mapper>