<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chibitaka.tremane_backend.repository.UserGoalRepository">
  
  <!-- ID検索 -->
  <select id="findById" resultMap="UserResultMap">
    SELECT
      user_id,
      weight,
      goal_weight,
      start,
      finish,
      pfc,
      created_at,
      updated_at
    FROM users_goal
    WHERE user_id = #{userId}
      AND updated_at > #{updatedAt}
  </select>

  <!-- 追加更新 -->
  <insert id="upsert" parameterType="com.chibitaka.tremane_backend.entity.UserGoalEntity">
    INSERT INTO users_goal (user_id, weight, goal_weight, start, finish, pfc, created_at, updated_at)
    VALUES (#{userId}, #{weight}, #{goalWeight}, #{start}, #{finish}, #{pfc}, #{createdAt}, #{updatedAt})
    ON CONFLICT (user_id) DO UPDATE SET
    weight=EXCLUDED.weight,
    goal_weight=EXCLUDED.goal_weight,
    start=EXCLUDED.start,
    finish=EXCLUDED.finish,
    pfc=EXCLUDED.pfc,
    updated_at=EXCLUDED.updated_at
  </insert>

  <!-- マッピング -->
  <resultMap id="UserResultMap" type="com.chibitaka.tremane_backend.entity.UserGoalEntity">
    <result property="userId" column="user_id"/>
    <result property="weight" column="weight"/>
    <result property="goalWeight" column="goal_weight"/>
    <result property="start" column="start"/>
    <result property="finish" column="finish"/>
    <result property="pfc" column="pfc"/>
  </resultMap>

</mapper>