<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chibitaka.tremane_backend.repository.UserRepository">
  
  <!-- ID検索 -->
  <select id="findById">
    SELECT
      user_id,
      nickname,
      handle,
      handle_updated_at,
      created_at,
      updated_at
    FROM users
    WHERE user_id = #{userId}
  </select>

  <!-- ハンドル（検索用ID）検索（大文字小文字区別なし） -->
  <select id="findByHandle">
    SELECT
      user_id,
      nickname,
      handle,
      handle_updated_at,
      created_at,
      updated_at
    FROM users
    WHERE LOWER(handle) = LOWER(#{handle})
  </select>

  <!-- 新規追加 -->
  <insert id="insert">
    INSERT INTO users (user_id, nickname)
    VALUES (#{userId}, #{nickname})
  </insert>

  <!-- 削除 -->
  <delete id="deleteById">
    DELETE FROM users WHERE user_id = #{userId}
  </delete>

  <!-- 更新 -->
  <update id="update">
    UPDATE users SET nickname = #{nickname}, updated_at = #{updatedAt}
    WHERE user_id = #{userId}
  </update>

  <!-- ハンドル（検索用ID）更新 -->
  <update id="updateHandle">
    UPDATE users SET handle = #{handle}, handle_updated_at = #{handleUpdatedAt}, updated_at = #{updatedAt}
    WHERE user_id = #{userId}
  </update>

</mapper>