<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chibitaka.tremane_backend.repository.UserRepository">
  
  <!-- ID検索 -->
  <select id="findById" resultMap="UserResultMap">
    SELECT
      user_id,
      email,
      password,
      nickname,
      height,
      weight,
      birthday,
      gender,
      active_level
    FROM users
    WHERE user_id = #{userId}
  </select>

  <!-- メールアドレス検索 -->
  <select id="findByEmail" resultMap="UserResultMap">
    SELECT
      user_id,
      email,
      password,
      nickname,
      height,
      weight,
      birthday,
      gender,
      active_level
    FROM users
    WHERE email = #{email}
  </select>

  <!-- 新規追加 -->
  <insert id="insert" parameterType="com.chibitaka.tremane_backend.entity.UserEntity" useGeneratedKeys="true" keyProperty="userId">
    INSERT INTO users(email, password)
    VALUES(#{email}, #{password})
  </insert>

  <!-- 更新 -->
  <update id="update">
    UPDATE users SET nickname=#{nickname}, height=#{height}, weight=#{weight}, birthday=#{birthday}, gender=#{gender}, active_level=#{activeLevel}
    WHERE user_id=#{userId}
  </update>

  <!-- マッピング -->
  <resultMap id="UserResultMap" type="com.chibitaka.tremane_backend.entity.UserEntity">
    <result property="userId" column="user_id"/>
    <result property="email" column="email"/>
    <result property="password" column="password"/>
    <result property="nickname" column="nickname"/>
    <result property="height" column="height"/>
    <result property="weight" column="weight"/>
    <result property="birthday" column="birthday"/>
    <result property="gender" column="gender"/>
    <result property="activeLevel" column="active_level"/>
  </resultMap>

</mapper>